MQTT_SIMULATOR_URL=mqtts://replace-with-test-broker-host:8883
MQTT_SIMULATOR_USERNAME=replace-with-test-username
MQTT_SIMULATOR_PASSWORD=replace-with-test-password
MQTT_SIMULATOR_DEVICE_ID=OMO_STAGING_0001
