MQTT_SIMULATOR_HOST=replace-with-test-broker-host
MQTT_SIMULATOR_PORT=1883
MQTT_SIMULATOR_USERNAME=replace-with-test-username
MQTT_SIMULATOR_PASSWORD=replace-with-test-password
MQTT_SIMULATOR_DEVICE_ID=OMO_SIM_0001
